@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-green: #328e6e;
    --secondary-green: #67ae6e;
    --teritiary-green: #90c67c;
    --light-green: #a4d492;
    --light-grey: #f0f0f0;
    --light-text: #333333;
    --light-accent: #808080;
    --card-color: linear-gradient(#48b826, #95f847);
}

.dark-theme {
    --primary-green: #003801;
    --secondary-green: #16202a;
    --teritiary-green: #1e6545;
    --light-green: #338f66;
    --light-grey: #192734;
    --light-text: #333333;
    --light-accent: #808080;
    --text-color: #fff;
    --card-color: linear-gradient(#066f2c, #0ca93e);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: var(--light-grey);
}


button {
    font: inherit;
    outline: none;
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

.inputList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}

.inputList label {
    display: block;
}

.navbar {
    grid-column: 1 / -1;
    display: flex;
    padding: 16px;
    background: var(--primary-green);
}

#icon-dashboard {
    display: inline;
    fill: white;
    font-size: 14px;
    width: 48px;
    height: 36px;
    vertical-align: top;
}

.main_head {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

/* Sidebar styles */

.icon-list {
    margin: 12px;
    padding: 2px;
    background-color: var(--teritiary-green);
    fill: white;
    width: 32px;
    height: 32px;
}

.sidebar {
    background: var(--secondary-green);
    color: white;
    display: flex;
    flex-direction: column;
}

.hidden-sidebar {
    display: none;
    background: var(--secondary-green);
}

.icon-project {
    display: inline;
    width: 32px;
    height: 32px;
    fill: white;
    margin: 0;
}

.sidebar header .strong {
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0 0 12px;
    word-break: break-all;
    display: flex;
    align-items: center;
    gap: 4px;
}

.list li {
    list-style-type: none;
    margin: 12px 4px 12px 24px;
    padding: 5px 6px;
    font-size: 18px;
    cursor: pointer;
}

.list li:hover {
    background: var(--light-green);
}

.sidebar button:last-child {
    width: fit-content;
    margin: 32px auto;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: var(--teritiary-green);
    color: white;
}

.sidebar button:last-child:hover {
    background-color: var(--light-green);
}

/* content container styles */

.content {
    padding: 4px;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 12px;    
    box-shadow: inset 0 0 48px 4px rgba(0, 0, 0, 0.4);
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: var(--text-color);
}

.icon-tasks {
    width: 36px;
    height: 36px;
    fill: var(--text-color);
}


.content-header-title {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.content-header-side {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.theme-mode {
    width: 80px;
    height: 100%;
    border: 5px solid #d9df9d;
    background-color: #c2c786;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-theme {
    width: 32px;
    height: 30px;
    fill: white;
    padding: 4px;
    border-radius: 50%;
}

.light {
    fill: black;
    background-color: #e9ecc3;
} 

.content-header-btn {
    height: fit-content;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: var(--teritiary-green);
    color: var(--text-color);
}

.content-header-btn:hover {
    background-color: var(--light-green);
    color: var(--text-color);
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 320px));
    grid-auto-rows: min-content;
    justify-content: center;
    gap: 28px;
}
/* card styles */

.card {
    background: var(--card-color);
    border-radius: 12px;
    color: white;
    height: fit-content;
    padding: 12px 36px 28px 12px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
}

.card-content {
    display: none;
}


.show-content {
    cursor: pointer;
    color: #eff5b4;
}

.show-content:hover {
    color: white;
}

.basecard {
    display: none;
}

.task-header {
    font-size: 20px;
    font-weight: 500;
}

#desc, #priority, #date, #type-of-task {
    min-height: 28px;
    border: 1px solid;
    border-radius: 8px;
    margin: 8px 0 16px 0;
    padding: 4px 8px;
    font-size: 12px;
}

.card-element {
    font-size: 14px;
    font-weight: 300;
}

.btns {
    display: flex;
    justify-content: space-around;
}

.complete, .rmv {
    font-size: 12px;
    font-weight: 300;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}

.complete {
    background: green;
}

.complete:hover {
    background: #01a301;
}

.rmv {
    background-color:red;
}

.rmv:hover {
    background-color: #fd1f1f;
}


/* Display box styles */


.displayBox {    
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    min-width: 320px;
    display: none;
    flex-direction: column;
    padding: 32px;

    background: linear-gradient(#213448, #547792);
    border-radius: 12px;
    color: aliceblue;
}

.displayBox header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.displayBox  input, .displayBox select, .displayBox textarea {
    font: inherit;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 4px 0px;
    width: 100%;
}

.displayBox textarea { 
    min-width: fit-content;
}

.displayBox ul, .displayBox ul li {
    width: 100%;
}

.displayBox ul li:last-child {
    text-align: center;
}

.displayBox button {
    padding: 4px 24px;
    font: inherit;
    background-color: #94b4c1;
    color: #213448;
    outline: none;
    border: none;
    border-radius: 7px;
}

.displayBox button:hover {
    color: #ecefca;
    background-color: #79949e;
}


.close-displayBox {
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: translate(-50%, -10%);
}

.close-displayBox:hover {
    color: red;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0; /* Covers entire screen */
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent */
    backdrop-filter: blur(5px); /* Blurs the background */
  }



